#app{
    padding-top: 90px;
}

.user-circle {
    width: 30px;
    height: 30px;
    background-color: #dddddd;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    display: inline-block;
}